.services-heading_1 {
    text-align: center;
  }
  .services-heading_2 {
    text-align: center;
  }
  .white .services-heading_1 {
    color: #111;
  }
  .black .services-heading_1 {
    color: #fff;
  }
  .service_heading{
    width: 100%;
  }
  .card{
    background: rgba(255, 255, 255, 0.1);
    border: 0.5px solid #CE1356;
    backdrop-filter: blur(15px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 9px;
    padding: 5%;
    transition: 2s ease-in all;

  }
  .card:hover{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  }
  .services-content{
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      row-gap: 50px;
      padding-top: 50px;
      column-gap: 5%;
      justify-content: center;
      align-items: center;
  }
.clientConatiner{

width: 100%;
display: flex;
justify-content: center;
align-items: center;
gap: 15px;
}